html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #a0a68b;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#wallpaper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("./assets/bg.jpg") left top / 100% auto no-repeat;
  filter: blur(0.4vw);
  min-height: 63.75vw;
}

#content {
  position: absolute;
  z-index: 1;
  border: 0.09765625vw solid #222;
  background: #222;
  top: 19.775390625vw;
  left: 50%;
  transform: translateX(-50%);
  width: 53.515625vw;
  filter: drop-shadow(0 1vw 6vw rgba(34,34,34,0.33));
}

header h1,
header p {
  margin: 0;
  height: 1.904296875vw;
  line-height: 1.904296875vw;
  border-bottom: 0.09765625vw solid #222;
  font-size: 1.07421875vw;
  font-weight: bold;
  padding-left: 0.29296875vw;
}

header h1 {
  color: #878C74;
  background: #222;
}

header p {
  color: #222;
  background: #878c75;
  text-decoration: none;
}

header a {
  text-decoration: underline;
  cursor: pointer;
  color: #222;
}

header a:hover {
  color: #475424;
}

.memorial {
  width: 100%;
  background: #b9bfa4;
  color: #6e7163;
  text-align: center;
  padding: 4.75vw 0.5vw 5vw 0.5vw;
  box-sizing: border-box;
  font-size: 1.45vw;
}

.memorial p,
.memorial em,
.memorial h2,
.memorial strong {
  display: block;
  margin: 0;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

.memorial em {
  letter-spacing: 0.1em;
  font-size: 1.6vw;
  font-style: normal;
}

.memorial h2 {
  text-transform: uppercase;
  font-size: 1.4vw;
  margin-top: 4.5vw;
  letter-spacing: 0.125em;
}

.memorial h2 strong {
  font-size: 2.65vw;
  letter-spacing: 0.175em;
  color: #222222;
  margin: 0.6vw 0 4.2vw 0;
}

@media screen and (max-width: 1024px) {
  #wallpaper {
    display: none;
  }

  #content {
    position: relative;
    border-width: 1px;
    top: 30px;
    left: 30px;
    margin-bottom: 30px;
    transform: none;
    width: calc(100% - 60px);
    filter: drop-shadow(0 10px 61px rgba(34,34,34,0.33));
  }

  header h1,
  header p {
    height: auto;
    min-height: 24px;
    line-height: 1;
    border-bottom-width: 1px;
    font-size: 13px;
    box-sizing: border-box;
    padding: 5px;
  }

  .memorial {
    padding: 48px 5px 51px 5px;
    font-size: 15px;
  }

  .memorial em,
  .memorial h2 {
    font-size: 16px;
  }

  .memorial h2 {
    font-size: 14px;
    margin-top: 46px;
  }

  .memorial h2 strong {
    font-size: 27px;
    margin: 6px 0 43px 0;
  }
}

@media screen and (max-width: 400px) {
  .memorial h2 strong {
    font-size: 6.5vw;
  }
}
